<div class="title-div m-2 pt-3 pb-3 rounded-4">
    <h1 class="title">
        <img src="assets/logo1.png" alt="Logo" class="logo">
        <strong> IPMega </strong>
    </h1>
</div>

<!-- CARDS -->
<div class="main shadow-lg rounded-4 mt-2 ms-2 me-2">
    <div class="row p-2">

        <!-- CARD - 1 -->
        <div class="col-lg-4 col-md-6 col-sm-12 p-5">
            <div class="zoom column card border-0 shadow-lg p-3 rounded-4" routerLink="/departmenthome">
                <img class="image card-img-top shadow-lg rounded-3" src="assets/Department.gif" alt="Department Store">
                <div class="card-body">
                    <h3 class="card-title"> Department Store </h3>
                </div>
            </div>
        </div>

        <!-- CARD - 2 -->
        <div class="col-lg-4 col-md-6 col-sm-12 p-5">
            <a class="navigation" href="https://ipmega.in">
                <div class="zoom column card border-0 shadow-lg p-3 rounded-4">
                    <img class="image card-img-top shadow-lg rounded-3" src="assets/Software.gif" alt="Software">
                    <div class="card-body">
                        <h3 class="card-title"> Software </h3>
                    </div>
                </div>
            </a>
        </div>

        <!-- CARD - 3 -->
        <div class="col-lg-4 col-md-6 col-sm-12 p-5">
            <div class="zoom column card border-0 shadow-lg p-3 rounded-4">
                <img class="image card-img-top shadow-lg rounded-3" src="assets/Coming.gif" alt="Coming Soon">
                <div class="card-body">
                    <h3 class="card-title"> Coming Soon </h3>
                </div>
            </div>
        </div>

    </div>
</div>