<!--about-->
<section id="about" class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center">
        <div>
          <h2 class="display-4">About Us</h2>
          <p>Welcome to IPMega Department Store, your premier destination for all things grocery. We pride ourselves on
            offering a wide selection of high-quality groceries at unbeatable prices.</p>
          <p>Established in early 1980's, IPMega DepartmentStore has been dedicated to serving our community with fresh
            produce, pantry staples, and specialty items. Our goal is to provide a one-stop shopping experience that
            meets all your grocery needs.</p>
          <p>Our commitment to quality and customer satisfaction is reflected in every aspect of our store. From our
            carefully curated product selection to our friendly and knowledgeable staff, we strive to make every
            shopping trip a pleasant and efficient experience.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <img src="assets\shop.jpeg" alt="Mega Grocery Store" class="img-fluid rounded pt-5 ps-5" width="500px"
          height="500px">
      </div>
    </div>
  </div>
</section>