<body>
  <div class="top">
    <h2 class="text-center" id="heading">Contact Us</h2>
    <p class="text-center">
      At IPMega Department Stores, we are dedicated to providing the best grocery shopping
      experience. If you have any questions, concerns, or feedback, we're here to
      help.
    </p>
  </div>


  <div class="rounded-4 ms-5 me-5 mt-3 mb-5 p-4 contact">
    <div class="row">
      <!-- Contact Info Section -->
      <div class="col-lg-6 col-sm-12 ">
        
        <div class="address ">
         
          
          <h5 class="me-3"><b>IPMega department store,</b><br>
          Near Packiyalakshmi Iyyadurai bungalow,<br>
          Sundarapandiapuram road,<br>
          Surandai,<br>
          Tamil Nadu 627859.</h5>
          </div>
        <br><br>
        <div class="inline">
          <!-- <span><img src="assets/phone.jpg" alt="gmail" height="32px" width="32px"> -->
          <span><a href="tel:+919976786607"> <i class="bi bi-telephone-fill"></i></a>
            <a href="tel:+919976786607"> +91 99767 86607</a></span><br><br>

          <!-- <span><img src="assets/mail.jpg" alt="gmail" height="32px" width="32px"> -->
          <span><a href="mailto:ipmegasurandai@gmail.com"><i class="bi bi-envelope"></i></a>
            <a href="mailto:ipmegasurandai@gmail.com"> - ipmegasurandai</a></span>
        </div>



        <div class="contact-info text-center">

          <!-- <div class="contact-info-item">
              <img src="assets/phone.jpg" alt="gmail" height="32px" width="32px">
              <div class="contact-info-content">
               <a href="tel:+919976786607"> <h5>+91 99767 86607</h5></a>
              </div>
            </div> -->
          <!--         
            <div class="contact-info-item">
              <img src="assets/mail.jpg" alt="gmail" height="32px" width="32px">
              <div class="contact-info-content">
                <a href="mailto:ipmegasurandai@gmail.com">
                  <h4>Send Mail</h4>
                </a>
              </div>
            </div> -->

          <br>
          <div class="contact-info-icon">
            <a href="https://www.facebook.com/ipmega.department.store?mibextid=ZbWKwL"><i
                class="bi bi-facebook facebook-icon"></i></a>
            <a href="https://Wa.me/+919976786607"><i class="bi bi-whatsapp" style="color: limegreen;"></i></a>
            <i class="bi bi-instagram" style="color:#E1306C"></i>
          </div>
        </div>
      </div>

      <!-- Google Maps Section -->
      <div class="col-lg-6 col-md-12" > 
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d488.8701081282048!2d77.41534083195393!3d8.97582202108748!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b069d3a98ae6b47%3A0x532dadfdca2555bb!2sIPMega%20department%20store!5e1!3m2!1sen!2sin!4v1728455677918!5m2!1sen!2sin"
          allowfullscreen loading="lazy" ></iframe>
      </div>
    </div>
  </div>

</body>