<!-- Products Section -->
<!-- <div id="one">
  <h3>Our Products</h3>
</div> -->

<div class="container " >
  
  <div class="row" id="fitment">

    <!-- Product 1 -->
    <div class="col-lg-3 col-sm-6" >
      <div class="box" routerLink="/departmenthome/oil" routerLinkActive="active">
        <div class="product__img">
          <div class="card shadow">
            <img src="assets\oil.jpg" width="100%" height="100%" alt="Product Image">
          </div>
        </div>  
        <div class="product__disc">
          <h1 class="pname">Oils</h1>
        </div>
        <div class="product_buttons">
          <!-- <a class="btn buy" routerLink="/departmenthome/oil" routerLinkActive="active">Buy</a> -->
        </div>
      </div>
    </div>
  
    <!-- Product 2 -->
    <div class="col-lg-3 col-sm-6" >
      <div class="box" routerLink="/departmenthome/millet" routerLinkActive="active">
        <div class="product__img">
          <div class="card shadow">
            <img src="assets\wheat.jpg" width="100%" height="100%" alt="Product Image">
          </div>
        </div>
        <div class="product__disc">
          <h4 class="pname">Millets | Grains</h4>
        </div>
        <div class="product_buttons">
          <!-- <a class="btn buy" routerLink="/departmenthome/millet" routerLinkActive="active">Buy</a> -->
        </div>
      </div>
    </div>

    <!-- Product 3 -->
    <div class="col-lg-3 col-sm-6" >
      <div class="box" routerLink="/departmenthome/masala" routerLinkActive="active">
        <div class="product__img">
          <div class="card shadow">
            <img src="assets\masala.jpg" width="100%" height="100%" alt="Product Image">
          </div>
        </div>
        <div class="product__disc">
          <h4 class="pname">Masala</h4>
        </div>
        <div class="product_buttons">
          <!-- <a class="btn buy" routerLink="/departmenthome/masala" routerLinkActive="active">Buy</a> -->
        </div>
      </div>
    </div>

    <!-- Product 4 -->
    <div class="col-lg-3 col-sm-6" >
      <div class="box" routerLink="/departmenthome/rice" routerLinkActive="active">
        <div class="product__img">
          <div class="card shadow">
            <img src="assets\rice.jpg" width="100%" height="100%" alt="Product Image">
          </div>
        </div>
        <div class="product__disc">
          <h1 class="pname">Rice</h1>
        </div>
        <div class="product_buttons">
          <!-- <a class="btn buy" routerLink="/departmenthome/rice" routerLinkActive="active">Buy</a> -->
        </div>
      </div>
    </div> 

        <!-- Product 5 -->
        <div class="col-lg-3 col-sm-6" >
          <div class="box" routerLink="/departmenthome/personalCare" routerLinkActive="active">
            <div class="product__img">
              <div class="card shadow">
                <img src="assets\personalcare.jpg" width="100%" height="100%"  alt="Product Image">
              </div>
            </div>
            <div class="product__disc">
              <h1 class="pname">Personal Care</h1>
            </div>
            <div class="product_buttons">
              <!-- <a class="btn buy" routerLink="/departmenthome/personalCare" routerLinkActive="active">Buy</a> -->
            </div>
          </div>
        </div>

            <!-- Product 6 -->
    <div class="col-lg-3 col-sm-6">
      <div class="box"  routerLink="/departmenthome/homeHygiene" routerLinkActive="active">
        <div class="product__img">
          <div class="card shadow">
            <img src="assets\homehygiene.jpg" width="100%" height="100%" alt="Product Image" >
          </div>
        </div>
        <div class="product__disc">
          <h1 class="pname">Home Hygiene</h1>
        </div>
        <div class="product_buttons">
          <!-- <a class="btn buy" routerLink="/departmenthome/homeHygiene" routerLinkActive="active">Buy</a> -->
        </div>
      </div>
    </div>

        <!-- Product 7 -->
        <div class="col-lg-3 col-sm-6" >
          <div class="box" routerLink="/departmenthome/devotional" routerLinkActive="active">
            <div class="product__img">
              <div class="card shadow">
                <img src="assets\devotional.jpg" width="100%" height="100%" alt="Product Image">
              </div>
            </div>
            <div class="product__disc">
              <h1 class="pname">Devotional</h1>
            </div>
            <div class="product_buttons">
              <!-- <a class="btn buy" routerLink="/departmenthome/devotional" routerLinkActive="active">Buy</a> -->
            </div>
          </div>
        </div>

  </div>
</div>
